<!DOCTYPE html>
<html lang="en">
<head style="overflow: auto;">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--   <meta http-equiv="X-UA-Compatible" content="ie=edge"> --> 
    <link rel="stylesheet" href={{ url_for('static', filename='styles.css') }}>
    <header>
        <h1 class = "MainLiquorsHead" align="center">
            Main Street Liquors
        </h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Blog">Main</a></li>
                <li><a href="/Contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    {% block title %}
    {% endblock %}
</head>
<body style="overflow: auto;">
    {% block body %}
    {% endblock %}
</body>
</html>